.about {
    padding-top: 76px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        padding: 73px 0px 0px 85px;
    }
    &__text {
        padding-top: 27px;
        font-family: $font-playFair;
        font-size: 31px;
        line-height: 36px;
        color: #2F2E2E;
        padding-bottom: 36px;
    }
    &__read {
        font-family: $font-inter;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #2F2E2E;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            font-weight: 900;
        }
    }
}