.header {
    padding-top: 47px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    &__logo {
        font-family: $font-inter;
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 50px;
        color: #2F2E2E;
    }
    &__menu {
        width: 100%;
        max-width: 529px;
    }
    &__navigation {
        display: flex;
        justify-content: space-between;
    }
    &__navigation-a {
        text-decoration: none;
        font-family: $font-inter;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #2F2E2E;
        &:hover {
            font-weight: 700;
        }
    }
    &__search {
        display: flex;
        // background: $color-text;
        justify-content: end;
        width: 210px;
        height: 50px;
        border-radius: 50px;
        padding: 5px;
        transition: 0.5s;
        &:hover {
            background: $color-text;
            input {
                width: 160px;
                padding: 0 10px;
            }
        }

        input {
            border: none;
            background: none;
            outline: none;
            padding: 0;
            color: rgb(255, 255, 255);
            width: 0;
            transition: 0.5s;
            text-align: center;
            font-size: 16px;
        }
        button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: none;
            background-color: #ffffff;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                background-color:rgb(255, 255, 255);
            }
        }
        img {
            width: 25px;
            height: 25px;
            
        }
    }
}

.hamburger {
    // position: absolute;
    position: fixed;
    display: none;
    top: 50px;
    left:50%;
    transform: translateX(-50%);
    width: 36px;
    height:24px;
    cursor: pointer;
    transition: 0.5s all;
    z-index: 100;
    span {
        margin-top: 3px;
        width: 100%;
        height: 5px;
        background-color: #254D4D;
        transition: 0.5s all;
    }
    &_active {
        span {
            &:nth-child(1) {
                transform: translateY(9.5px) rotate(315deg);
                background-color: rgb(255, 255, 255);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: translateY(2px) rotate(-315deg);
                background-color: rgb(255, 255, 255);
            }
        }
    }
}